* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #b5b6b7;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

.main-container {
  font-size: 1.4rem;
  padding: 0 20%;
}

.text-uppercase {
  text-transform: uppercase;
}

/*Sección de Indicaciones*/
.indications {
  background-color: red;
  padding-top: 75px;
}

.indications p{
  line-height: 1.75;
  margin-bottom: 1em;
}

.indications p a {
  color: #ED935E;
  /*color: #EA6616;*/
  text-decoration: none;
}

.indications p strong {
  color: #3E3F40;
  text-decoration: underline;
}
/*Formulario de Registro*/
.form {
  background-color: blue;
}

.representative {
  background: green;
  height: 500px;
  position: relative;
}

.representative label{
  display: block;
}

.representative .column-left {
  background-color: yellow;
  left: 0;
  position: absolute;
  width: 50%;
}

.representative .column-right {
  background-color: purple;
  position: absolute;
  right: 0;
  width: 50%;
}
