* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #b5b6b7;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

.main-container {
  font-size: 1.6rem;
  padding: 0 20%;
}

/*Sección de Indicaciones*/
.text-uppercase {
  text-transform: uppercase;
}

.indications {
  padding-top: 5em;
  padding-bottom: 1em;
}

.indications p{
  line-height: 1.75;
  padding-bottom: 1em;
}

.indications p a {
  color: #ED935E;
  /*color: #EA6616;*/
  text-decoration: none;
}

.indications p strong {
  color: #3E3F40;
  text-decoration: underline;
}

/*Formulario de Registro*/
.form {

}

h1, h2 {
  color: #3E3F40;
}

h2, label {
  padding: 14px 0;
}

.column-left {
  background-color: yellow;
  float: left;
  width: 50%;
}

.column-right {
  background-color: purple;
  float: right;
  width: 50%;
}

label{
  display: block;
}

label[for="sex-representative"], label[for="public-records"], label[for="region"] {
  color: #707274;
  padding: 0 0 14px 0;
}

/*Seccion Datos del Representante*/
.data-representative, .data-entity {
  overflow: auto;
}

.data-representative .column-right label:nth-child(7) {
  margin-top: 113px;
}

/*Seccion Datos de la Entidad*/
.data-entity {

}

.data-entity .column-left > .answer {
  margin-bottom: 14px;
}

.data-entity .column-left label:nth-child(9) {
  margin-top: 887px;
}

.data-entity label > span {
  color: red;
  font-weight: bold;
}

.data-entity .column-right label:nth-child(1) {
  line-height: 1.4;
}

.data-entity .column-right p:nth-child(3) {
  color: #3E3F40;
}

/*Seccion Información Estrátegica de la Entidad*/
